body::after {
  content:"";
  position:fixed;
  height:100vh;
  top:-100;
  left:0;
  right:0;
  z-index:-1;
  background: url(../ims/home.webp) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
